<html>
<body>

<h2>Involve Payment Page</h2>

<form method="POST">

    <label>Сумма оплаты</label><br>
    <input type="text" name="amount"><br><br>

    <label>Валюта</label><br>
    <select name="currency">
        <option value="978">EUR</option>
        <option value="840">USD</option>
        <option value="643">RUB</option>
    </select><br><br>

    <label>Комментарий</label><br>
    <input type="text" name="comment"><br><br>

    <input type="submit" value="Pay">
</form>

</body>
</html>
